@import "../../Vars.css";

.container{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-secondary);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
}


.logo{
    width: 35%;
}


.items{
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image:90deg, rgba(165, 215, 232, 0.42) 0% ,90deg, rgba(255, 255, 255, 0) 100% ;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.item:hover{
    background-size: 100% 100% ;
    background-color:#fbd9ef;
}
.item h3{
    font-size: 25px;
    font-weight: 600;
}

.item p {
    font-size: 25px;
}

@media screen and (max-width: 830px){
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .content{
        flex-direction: column;
    }
    .items{
        margin-top: 29px;
    }
    item{
        padding-left: 0;
        padding-right: 0;
    }





}
.link{
    width: 70px;
    margin-left: 30px;
}


.git{
    width: 70px;
    margin-left: 30px;
}

.item a {
    text-decoration: none;
}
 .cursor{
    width: 170px;
    margin-right: 30px;


 }

 .server{
    width: 100px;
    
 }

